.darkmodeFooter {
  background-color: rgb(53, 49, 60);
}

.footer form {
  width: 95%;
  display: flex;
  justify-content: center;
}

.addInput {
  width: 70%;
  height: 2.5rem;
  font-size: 18px;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid gray;
  margin-right: 0.3rem;
  padding-left: 1rem;
}
.addBtn {
  width: 20%;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid gray;
  background: #d6c596;
  font-size: 1.2rem;
  font-weight: bold;
  color: #252525;
}

.addBtn:hover {
  cursor: pointer;
  background: #b9ab84;
}

.darkmodeAddBtn {
  background: rgb(215, 245, 154);
}
